.cards {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 23.5vw;
}

.cards .card .pinOff,
.cards .card .pinOn{
    user-select: none;
    height: auto;
    width: 1.5vw;
    position: absolute;
    top: 0;
    left: 21vw;
    cursor: pointer;
}
.cards .card .pinOff:hover,
.cards .card .pinOn:hover{
    transform: scale(0.92);
}
.cards .card .pinOff:active,
.cards .card .pinOn:active{
    transform: scale(0.85);
}


.cards .card .lixeira {
    user-select: none;
    height: auto;
    width: 1.4vw;
    position: absolute;
    top: 2.5vw;
    left: 21vw;
    cursor: pointer;
}

.cards .card .lixeira:hover {
    transform: scale(0.92);
}

.cards .card .lixeira:active {
     transform: scale(0.85);
}

.cards .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

/* .cards img {
    width: 100px;
    border-radius: 50%;
    position: relative;
} */

.cards .card {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px 10px 10px 10px;
}

.cards .card h4 {
    color: #1eff14;
    font-size: clamp(10px, 0.94vw, 18px);
    line-height: clamp(12px, 1.15vw, 22px);
    font-weight: bold;
    text-shadow: 1px 0px 4px red;
    margin-bottom: 0.42vw;
    margin-top: 0.36vw;
    margin-left: 0.26vw;
    max-height: 5.36vw;;
    max-width: 20.8vw;
    overflow-wrap: anywhere;
}

.cards .card h5 {
    font-size: clamp(12px, 0.94vw, 18px);   
    line-height: clamp(16px, 1.15vw, 22px);
    color: #212121;
    padding: 0 0.83vw;
}

.deletar {
    position:absolute;
    right: -0.52vw;
    top: -0.52vw; 
    cursor: pointer;
}

.favoritar {
    margin-top: 1.04vw; 
}

.coracao1{
    cursor: pointer;
}

.coracao2{
    cursor: pointer;
}