.cards {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 445px;
}

.cards .card .pinOff,
.cards .card .pinOn{
height: auto;
width: 24px;
position: absolute;
top: 0;
left: 406px;
}

.cards .card .lixeira {
    height: 100%;
    width: 24px;
    position: absolute;
    top: 0;
    left: 406px;
    cursor: pointer;
}

.cards .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.cards img {
    width: 100px;
    border-radius: 50%;
    position: relative;
}

.cards .card {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px 10px 10px 10px;

}

.cards .card h4 {
    color: #1eff14;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    text-shadow: 1px 0px 4px red;
    margin-top: 7px;
    margin-left: 5px;
    max-height: 103px;
    max-width: 401px;
    overflow-wrap: anywhere;
}

.cards .card h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.deletar {
    position:absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

.favoritar {
    margin-top: 20px;
}

.coracao1{
    cursor: pointer;
}

.coracao2{
    cursor: pointer;
}