.wrapper-upload {
position: relative;
width: 150px;
height: 54px;
margin-left: 15%;
}


.wrapper-upload .imagem-upload {
position: absolute;
cursor: pointer;
position: absolute;
width: 70px;
height: auto;
}

.wrapper-upload .imagem-upload:hover{
transform: scale(1.05);
filter: drop-shadow(3px 1px 2px rgba(174, 0, 255, 0.7));
transition: transform 0.25s, box-shadow 0.25s;
}



.wrapper-upload .previa-wallpaper {
margin-left: 200px;
margin-top: -8%;
height: 110px;
width: 180px;
border-radius: 45px;
}

.wrapper-upload .botao-upload {
display: none; 
width: 146px;
height: 50px;
}