.zona-radio {
position: relative;
}

.zona-interacao-radio {
    position: absolute;
    width: 170px;
    height: 130px;
    left: 16vw;
    top: 76vh;
    cursor: pointer;    

}

.imagem-radio{
    position: absolute;
    height: 170px;
    top: -3vh;
    pointer-events: none;
    user-select: none;
}

.input-cor{
    position: absolute;
    width: 4%; 
    top: 50%;
    left: 73%;
    border-radius: 10px;

}

.input-cor:hover {
    background-color: rgb(90 241 206 / 45%);
    box-shadow: 1px 1px 8px rgb(0 78 255 / 80%);
}

.input-cor:active {
    background-color: rgb(90 241 206 / 45%);
    box-shadow: 1px 1px 2px rgba(25, 0, 255, 0.7);
    transform: translate(1px);
}



/* Até 1279px HD (innerHeight ~620px) */
@media (max-width: 1279px) {
  .zona-interacao-radio {
    left: clamp(8vw, 10vw, 12vw); 
    top: clamp(74vh, 75vh, 76vh);
  }
  .imagem-radio {
    width: 123px;
    height: auto;
  }
}

/* 1280×600 (innerHeight ~600px) */
@media (min-width: 1280px) and (max-width: 1365px) {
  .zona-interacao-radio {
    left: clamp(12vw, 15vw, 17vw); 
    top: clamp(72vh, 73vh, 74vh);
  }
  .imagem-radio {
    width: 129px;
    height: auto;
  }
}

/* 1366×650 (innerHeight ~650px) */
@media (min-width: 1366px) and (max-width: 1439px) {
  .zona-interacao-radio {
    top: clamp(74vh, 75vh, 76vh);
    left: clamp(13vw, 15vw, 17vw); 
  }
  .imagem-radio {
    width: 129px;
    height: auto;
  }
}

/* 1440×780 (innerHeight ~780px) */
@media (min-width: 1440px) and (max-width: 1535px) {
  .zona-interacao-radio {
    top: clamp(71vh, 72vh, 73vh);
    left: clamp(14vw, 16vw, 18vw);
  }
  .imagem-radio {
    width: 135px;
    height: auto;
  }
}

/* 1536×770 (innerHeight ~770px) */
@media (min-width: 1536px) and (max-width: 1599px) {
  .zona-interacao-radio {
    top: clamp(73vh, 74vh, 75vh);
    left: clamp(14vw, 16vw, 17vw);
  }
  .imagem-radio {
    width: 140px;
    height: auto;
  }
}

/* 1600×800 (innerHeight ~800px) */
@media (min-width: 1600px) and (max-width: 1919px) {
  .zona-interacao-radio {
    left: clamp(13vw, 15vw, 17vw); 
      top: clamp(73vh, 75vh, 80vh);
  }
  .imagem-radio {
    width: 145px;
    height: auto;
  }
}

/* 1920×955 (innerHeight ~955px) */
@media (min-width: 1920px) {
  .zona-interacao-radio {
    left: clamp(14vw, 15vw, 16vw);
    top: clamp(73vh, 77vh, 78vh); 
  }
  .imagem-radio {
    width: 150px;
    height: auto;
  }
}







