/* FALTA PERSONALIZAR APENAS NO FIREFOX A BARRA DE VOLUME */

.zona-radio {
position: relative;
}

.zona-interacao-radio {
    position: absolute;
    width: 170px;
    height: 130px;
    left: 16vw;
    top: 76vh;
    cursor: pointer;    

}


.zona-interacao-radio .painel-shadow {
  margin-top: 35%;
  margin-left: 44%;
  height: 8%;
  width: 35%;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #0ff;
  transform: rotate(-7.5deg);
  position: absolute;
}


.zona-interacao-radio .painel-radio {
  margin-top: 35%;
  margin-left: 44%;
  height: 8%;
  width: 35%;
  transform: rotate(-7.5deg);
  background: linear-gradient(90deg, #002, #0ff, #002);
  background-size: 200% 100%;
  animation: onda 8s linear infinite, brilho 2s ease-in-out infinite alternate; /* adicionado: segunda animação para pulsar brilho */
  box-shadow: 0 0 15px #0ff, inset 0 0 20px rgba(0,255,255,0.3);
  border-radius: 2px;
  position: relative;
  filter: opacity(0.8);
}

@keyframes onda {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}
@keyframes brilho {
  0% { 
    box-shadow: 0 0 10px #0ff, inset 0 0 10px rgba(0,255,255,0.2); 
    opacity: 0.7; 
  }
  100% { 
    box-shadow: 0 0 25px #0ff, inset 0 0 25px rgba(0,255,255,0.5); 
    opacity: 1; 
  }
}

/* linha do osciloscopio --- */
.zona-interacao-radio .painel-radio::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height:2px; 
  background: #0ff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.555);
  animation: oscilar 2s infinite ease-in-out alternate;
  transform-origin: center;
  opacity: 0.8;
  border-radius: 4px;
}


@keyframes oscilar {
  0% { 
    transform: translateY(-1px) scaleY(0.5); 
    opacity: 0.6; 
  }
  50% { 
    transform: translateY(1px) scaleY(1.4); 
    opacity: 1; 
  }
  100% { 
    transform: translateY(-1px) scaleY(0.6); 
    opacity: 0.7; 
  }
}

.imagem-radio{
    position: absolute;
    height: 170px;
    top: -3vh;
    pointer-events: none;
    user-select: none;
}

.input-cor{
    position: absolute;
    width: 4%; 
    top: 50%;
    left: 73%;
    border-radius: 10px;

}

.input-cor:hover {
    background-color: rgb(90 241 206 / 45%);
    box-shadow: 1px 1px 8px rgb(0 78 255 / 80%);
}

.input-cor:active {
    background-color: rgb(90 241 206 / 45%);
    box-shadow: 1px 1px 2px rgba(25, 0, 255, 0.7);
    transform: translate(1px);
}




/* ZOOM 125% 1280 X 720 (INNERHEIGHT ~448PX) */
@media (min-width: 1024px) and (max-width: 1092px) {

.zona-interacao-radio .painel-radio {
  margin-top: 23%;
  margin-left: 25.2%;
  height: 7%;
  width: 22%;
}

.zona-interacao-radio .painel-shadow {
  margin-top: 23%;
  margin-left: 25.2%;
  height: 7%;
  width: 22%;
}
  .zona-interacao-radio {
    left: clamp(12vw, 15vw, 17vw); 
    top: clamp(74vh, 79vh, 79vh);
  }

  .imagem-radio {
    width: 89px;
    height: auto;
  }

}

/* ZOOM 125% 1366 X 768 (INNERHEIGHT ~486PX) */
@media (min-width: 1093px) and (max-width: 1151px) {

.zona-interacao-radio .painel-radio {
  margin-top: 23%;
  margin-left: 25.2%;
  height: 7%;
  width: 22%;
}

.zona-interacao-radio .painel-shadow {
  margin-top: 23%;
  margin-left: 25.2%;
  height: 7%;
  width: 22%;
}
  .zona-interacao-radio {
    left: clamp(12vw, 15vw, 17vw); 
    top: clamp(74vh, 79vh, 79vh);
  }

  .imagem-radio {
    width: 89px;
    height: auto;
  }

}

/* ZOOM 125% 1440 X 900 (INNERHEIGHT ~592PX) */
@media (min-width: 1152px) and (max-width: 1228px) {

  
.zona-interacao-radio .painel-shadow {
  margin-top: 20%;
  margin-left: 25%;
  height: 7%;
  width: 22.3%;
}

.zona-interacao-radio .painel-radio {
  margin-top: 20%;
  margin-left: 25%;
  height: 7%;
  width: 22.3%;
}

  .zona-interacao-radio {
    left: clamp(12vw, 15vw, 17vw); 
    top: clamp(74vh, 77vh, 78vh);
  }

  .imagem-radio {
    width: 89px;
    height: auto;
  }

}

/* ZOOM 125% 1600 X 900 (INNERHEIGHT ~592PX) */
@media (min-width: 1280px) and (max-width: 1365px) {


.zona-interacao-radio .painel-shadow {
  margin-top: 27.5%;
  margin-left: 31%;
  height: 8.6%;
  width: 27%;
}


.zona-interacao-radio .painel-radio {
  margin-top: 27.5%;
  margin-left: 31%;
  height: 8.6%;
  width: 27%;
}

  .zona-interacao-radio {
    left: clamp(12vw, 15vw, 17vw);
    top: clamp(72vh, 78vh, 79vh);
  }

  .imagem-radio {
    width: 109px;
    height: auto;
  }

}


/* 1366×650 (innerHeight ~650px) */
@media (min-width: 1366px) and (max-width: 1439px) {


.zona-interacao-radio .painel-radio {
  margin-top: 34%;
  margin-left: 37%;
  height: 8%;
  width: 31%;
}

.zona-interacao-radio .painel-shadow {
  margin-top: 34%;
  margin-left: 37%;
  height: 8%;
  width: 31%;
}

 .zona-interacao-radio {
   top: clamp(74vh, 75vh, 76vh);
   left: clamp(13vw, 15vw, 17vw); 
 }
 .imagem-radio {
   width: 129px;
   height: auto;
 }
}

/* 1440×780 (innerHeight ~780px) */
@media (min-width: 1440px) and (max-width: 1535px) {

.zona-interacao-radio .painel-radio {
  margin-top: 24.5%;
  margin-left: 31.8%;
  height: 8%;
  width: 26%;
}

.zona-interacao-radio .painel-shadow {
  margin-top: 24.5%;
  margin-left: 31.8%;
  height: 8%;
  width: 26%;
}


 .zona-interacao-radio {
   top: clamp(74vh, 76vh, 77vh);
   left: clamp(13vw, 15vw, 17vw); 
 }
 .imagem-radio {
   width: 109px;
   height: auto;
 }
}

/* 1536×770 (innerHeight ~770px) */
@media (min-width: 1536px) and (max-width: 1599px) {

.zona-interacao-radio .painel-radio {
  margin-top: 24.5%;
  margin-left: 31.8%;
  height: 8%;
  width: 26%;
}

.zona-interacao-radio .painel-shadow {
  margin-top: 24.5%;
  margin-left: 31.8%;
  height: 8%;
  width: 26%;
}


 .zona-interacao-radio {
   top: clamp(74vh, 80vh, 81vh);
   left: clamp(13vw, 15vw, 17vw); 
 }
 .imagem-radio {
   width: 109px;
   height: auto;
 }
}

/* 1600×800 (innerHeight ~800px) */
@media (min-width: 1600px) and (max-width: 1919px) {


.zona-interacao-radio .painel-radio {
  margin-top: 24.5%;
  margin-left: 31.8%;
  height: 8%;
  width: 26%;
}

.zona-interacao-radio .painel-shadow {
  margin-top: 24.5%;
  margin-left: 31.8%;
  height: 8%;
  width: 26%;
}

 .zona-interacao-radio {
  top: clamp(74vh, 80vh, 81vh);
  left: clamp(13vw, 15vw, 17vw);
 }

 .imagem-radio {
   width: 109px;
   height: auto;
 }


}

/* 1920×955 (innerHeight ~955px) */
@media (min-width: 1920px) {

.zona-interacao-radio .painel-radio {
    margin-top: 35.5%;
    margin-left: 43.4%;
    height: 10%;
    width: 35.6%;
}

 .zona-interacao-radio {
   left: clamp(14vw, 15vw, 16vw);
   top: clamp(73vh, 77.7vh, 78vh); 
 }
 .imagem-radio {
   width: 150px;
   height: auto;
 }
}



