

.tablet-tela {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    height: 385px;
    position: absolute;
    width: 666px;
    top: 9.7%;
    left: 6.35%;
}

/* wallpaper */

.tablet-tela .area-de-trabalho {
    width: 665px;
    height: 101%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* about */


.tablet-tela .area-de-trabalho .about .tela-about {
  background: linear-gradient(to right, #d0cbd5, #fff3c6);
  padding: 36px 64px;
  align-self: center;
  height: 247px;
  overflow-y: auto;
  position: relative;
}

.about .tela-about .strong-about{
    font-size: 19px;
    color: #ffffff;
    text-shadow: 2px 1px 8px #00ffe7;
}

.tablet-tela .area-de-trabalho .about .listas-desordenadas-about {
  margin-left: 40px;
}


.tablet-tela .area-de-trabalho .about .tela-about h2{
margin-top: 0px;
    color: aliceblue;
    text-shadow: 2px 1px 1px #001fff;
}


/* aqui sao as tabs, guias dentro do about*/

.tablet-tela .area-de-trabalho .about .window-bar .janela-pro-lembrete,
.tablet-tela .janela-lembretes  .janela-pro-about

{
    margin-left: 5px;
    margin-top: 4px;
    height: 25px;
    width: 90px;
    position: absolute;
    border: rgb(0, 255, 213) solid 1px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(95, 95, 252);
    box-shadow: 2px 2px 2px rgb(0 0 0);
    opacity: 0.9;
    transition: background-color 0.5s ease, transform 0.3s ease; 
}

.tablet-tela .area-de-trabalho .about .window-bar .janela-pro-lembrete:hover,
.tablet-tela .janela-lembretes  .janela-pro-about:hover

{
  opacity: 0.7;
  background-color: rgb(77 171 255);
  box-shadow: 2px 2px 2px rgb(24, 59, 255)
}

.tablet-tela .area-de-trabalho .about .window-bar .janela-pro-lembrete:active,
.tablet-tela .janela-lembretes .janela-pro-about:active
{
  transform: scale(0.90);
}

.tablet-tela .area-de-trabalho .about .window-bar .janela-pro-lembrete p,
.tablet-tela .janela-lembretes  .janela-pro-about p

{
    margin-top: 3px;
    margin-left: 5px;
    font-size: 15px;
    color: #38fff7d1;
    text-shadow: 2px 1px 2px #3325a3ad;
}

 .about .tela-about .abrir-lembrete {
    margin-left: 10px;
    font-size: 18px;
    display: inline-block;
    color: #f052ff;
    text-shadow: 2px 2px 5px #43ffc1;
    cursor: pointer;
 }

.about .tela-about .abrir-lembrete:hover {
  transform: scale(1.05);
}

.tablet-tela .janela-lembretes img {
    margin-top: 4px;
    margin-left: 625px;
    padding-left: 9px;
    cursor: pointer;
    transition: filter 0.4s ease;
}

.tablet-tela .janela-lembretes img:hover {
  filter: brightness(1.6);
  transform: scale(1.1);
  transition: transform 0.4s ease;
}

.tablet-tela .janela-lembretes img:active {
  transform: scale(0.9);
}

.tablet-tela .area-de-trabalho .icone-lembretes .selecionar-lembrete{
    width: 150px;
    height: 90px;
    top: -21px;
    left: -54px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.tablet-tela .area-de-trabalho .icone-lembretes .selecionar-lembrete:hover{
    background-color: #87d8dd1a;
    border-radius: 10px;
    border: 1px solid #7b74ff5e;
}

.tablet-tela .area-de-trabalho .icone-lembretes {
  position: relative;
    user-select: none;
    margin-left: 70px;
    margin-top: 40px;
    height: 35px;
    width: 35px;
}
.tablet-tela .area-de-trabalho .icone-lembretes img {
  height: 30px;
}

.tablet-tela .area-de-trabalho .icone-lembretes span{
user-select: none;
display: block;
pointer-events: none;
color: white;
margin-left: -33px;
}

.icones-apps-abertos .icone-na-barra img {
width: 35px;
}

.icones-apps-abertos .icone-na-barra .icone-na-barra-lembretes {
  margin-top: 3px ;
  height: 28px;
  user-select: none;
}

.icones-apps-abertos .icone-na-barra .icone-na-barra-lembretes:hover{
 background-color: rgba(46, 45, 45, 0.76);
 filter: brightness(1.1);
}

/* Icone led */
.tablet-tela .area-de-trabalho .icone-led {
position: relative;
user-select: none;
margin-top: 55px;
margin-left: 62px;
height: 35px;
width: 35px;
}

.tablet-tela .area-de-trabalho .icone-led img {
  height: 40px;
}

.tablet-tela .area-de-trabalho .icone-led span{
display: block;
pointer-events: none;
color: white;
margin-left: -29px;
}

.tablet-tela .area-de-trabalho .icone-led .selecionar-configuracao{
    width: 150px;
    height: 90px;
    top: -16px;
    left: -54px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.tablet-tela .area-de-trabalho .icone-led .selecionar-configuracao:hover{
    background-color: #87d8dd1a;
    border-radius: 10px;
    border: 1px solid #7b74ff5e;

}


.icones-apps-abertos .icone-na-barra .icone-na-barra-led {
  user-select: none;
}

.icones-apps-abertos .icone-na-barra .icone-na-barra-led:hover{
 background-color: rgba(46, 45, 45, 0.76);
}

.janela-configuracao-led {
  overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;
    height: 319px;
    width: 665px;
    background-color: rgb(215, 218, 243);
}


.janela-configuracao-led .wrapper-configuracao {
margin: 2% 4%;
}
.janela-configuracao-led .wrapper-configuracao p {
  margin-left: 3%;
}

.janela-configuracao-led .texto-explicacao {
 
 
}

.luz-radio {
  display: inline-block;

  
}
 .janela-configuracao-led .aviso-radio-desligado,
.janela-configuracao-led .texto-alterar-luz-radio
 {
  
  margin-top: 1%;
}

.janela-configuracao-led .texto-configuracao {
  text-shadow: 1px 1px 1px rgb(71 255 77 / 93%);
}





.janela-configuracao-led span {
  font-size: 26px;
}


/* forms */
.tablet-tela form {
background: linear-gradient(to right, #d0cbd5, #fff3c6);
padding: 36px 64px;
box-shadow:  8px 8px 16px rgba(0,0,0,0.15);
align-self: center;
height: 244px;
overflow-y: auto;
position: relative;
}

form h2 {
  margin-top: 0px;
  color: aliceblue;
  text-shadow: 1px 1px 1px #ff00fc;
}

/* barra de tarefas */
.secao-tablet-modal .tablet-modal {
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    height: 482px;
    width: 760px;
    pointer-events: none;
}

.tablet-tela .barra-de-tarefas {
    display: flex;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.01);
    height: 36px;
    width: 666px;
    top: 91.7%;
    left: 0%;
}

.barra-de-tarefas .menu-iniciar{
user-select: none;
width: 40px;
}

.barra-de-tarefas .menu-iniciar img {
    margin-left: 11px;
    margin-top: 7px;
    height: auto;
    width: 18px;
}

.barra-de-tarefas .menu-iniciar:hover {
  background-color: rgba(46, 45, 45, 0.76);
}

.barra-de-tarefas .seta-voltar{
  user-select: none;
  width: 45px;
}

.barra-de-tarefas .seta-voltar img{
display: flex;
height: 20px;
width: auto;
margin-top: 6px;
margin-left: 11px;
}
.barra-de-tarefas .seta-voltar:hover {
   background-color: rgba(46, 45, 45, 0.76);
}

.icones-apps-abertos {
  display: grid;
  grid-template-columns: repeat(4,40px);
  margin-left: 10px;
}

.barra-de-tarefas .icone-bateria {
  user-select: none;
  width: 24px;
}
.barra-de-tarefas .icone-bateria img {
  margin-left: 1px;
  height: 12px;
  margin-top: 10px;
}
.barra-de-tarefas .icone-bateria:hover {
background-color: rgba(46, 45, 45, 0.76);
}

.barra-de-tarefas .icone-wifi  {
  user-select: none;
  width: 20px;
}

.barra-de-tarefas .icone-wifi img {
    height: 15px;
    margin-top: 10px;
    margin-left: 2px;
}
.barra-de-tarefas .icone-wifi:hover {
background-color: rgba(46, 45, 45, 0.76);
}

.barra-de-tarefas .icone-som img {
  user-select: none;
    height: auto;
    width: 26px;
    margin-top: 4px;
}

.barra-de-tarefas .icone-som:hover{
background-color: rgba(46, 45, 45, 0.76);
}

.idioma {
  height: 36px;
  color: white;
  font-size: 13px;
  user-select: none;
  width: 35px;
}
.idioma span {
    display: flex;
    margin-top: 9%;
    margin-left: 13%;
}

.idioma:hover {
   background-color: rgba(46, 45, 45, 0.76);
}

.barra-de-tarefas .icone-notificacoes {
  user-select: none;
margin-left: 20px;
width: 34px;
}

.barra-de-tarefas .icone-notificacoes img {
height: 20px;
margin-top: 10px;
margin-left: 7px;
}

.barra-de-tarefas .icone-notificacoes:hover {
  background-color: rgba(46, 45, 45, 0.76);
 
}

.barra-tarefas-inferior-direito {
  margin-left: 115px;
  display: flex;
  gap: 8px;
}

.botao-mostrar-esconder-painel {
    width: 74px;
    height: 55px;
    margin-left: 470px;
    background: linear-gradient(to right, rgb(255, 234, 202), #5a19ff17);
    cursor: pointer;
    position: absolute;
    border-radius: 34px;
}


.botao-mostrar-esconder-painel p{
  pointer-events: none;
     margin-left: 10px;
    padding-bottom: 10px;
    font-size: 13px;

}

.botao-mostrar-esconder-painel:hover{
    background-color: rgb(229 220 206);
    color: rgb(20 40 41);
    text-shadow: 2px 1px 2px #ffffff;
    box-shadow: 2px 3px 8px #2bad9ba3;
}


.botao-mostrar-esconder-painel:active{
transform: scale(0.95);
}

/* zona de interacao do tablet */
.tablet-img {
  position: absolute;
  height: 50px;
  width: 110px;
  pointer-events: none;
}

.area-texto{
  border: 2px solid #0085ff;
    border-radius: 28px;
    height: 60px;
    width: 268px;
    padding: 11px 8px;
}


  .handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* só pra ver */
  cursor: grab;
}

.handle:active{
  cursor: grabbing;
}



/* responsividade */